appdirs==1.4.4
backcall==0.1.0
Brlapi==0.7.0
btrfsutil==1.2.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
dbus-python==1.2.16
decorator==4.4.2
distlib==0.3.0
filelock==3.0.12
idna==2.10
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
lensfun==0.3.95
louis==3.14.0
ordered-set==3.1.1
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
powerline-status==2.8.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pwquality==1.4.2
pycairo==1.19.1
pygame==1.9.6
Pygments==2.6.1
PyGObject==3.36.1
pyinotify==0.9.6
python-distutils-extra==2.39
python-Levenshtein==0.12.0
pytz==2020.1
pyxdg==0.26
Reflector==2020.3.21.11.40.36
requests==2.24.0
six==1.15.0
tinycss2==1.0.2
traitlets==4.3.3
ulauncher==5.7.5
virtualenv==20.0.21
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
xdg==4.0.1
